html, body {
  margin:0;
  padding:0;
}
 body {
  text-align:center;
  background: url(/reptilesquest/images/bg.jpg) #695C4B left top repeat;
}
hr
{
  margin:4px;
}
p, H1, H3
{
  margin:0px;
  padding-top:0px;
  padding-left:30px;
  padding-bottom:10px;
  font-family:Times, serif;
}
p
{
  padding-right:30px;
  text-align:justify;
  font-size:16px;
}
table#album
{
  width:100%;
}
table#album img
{
  width:200px;
  height:150px;
}
table#album td
{
  padding-bottom:12px;
  vertical-align:top;
  text-align:center;
  font-family:Times, serif;
  font-size:14px;
  color:black;
}
a
{
  font-size:16px;
  color: Olive;
  font-family:Times, serif;
  text-decoration:none;
}
a:hover
{
  color:#b1dc1c;
}
a, p, span
{
  line-height:120%;
}
p.first, H1
{
  padding-right:0px;
}
H1
{
  text-align:center;
  font-size:19px;
  font-weight:bold;
}
H3
{
  text-align:center;
  font-size:16px;
  font-weight:bold;
}
#vision H3
{
  text-align:left;
}
td.menup
{
  padding-top:4px;
}
span.menup
{
  text-decoration:underline;
  color:maroon;
  padding-left:10px;
}
a.menu, td.menup, .copyright
{
 font-family:Times, serif;
 font-style:italic;
 font-weight:bold;
 font-size:13px;
}
.copyright
{
 color:silver;
}
.copyright a {
 color:silver;
 text-decoration: underline;
 font-size:13px;
}
.copyright a:hover {
 color:#cccccc;
 text-decoration: underline;
}
a.menu
{
 text-decoration:none;
 color:black;
 padding-left:10px;
}
a.menu:hover
{
 color:#808080;
}
a.affiliate, a.affiliate:hover
{
 color:maroon;
}
td
{
  padding:0px;
}
table
{
  margin:0px;
  border-collapse:collapse;
}
tbody
{
  padding:0;
  margin:0;
}
table.main
{
  width:780px;
  background: url(/reptilesquest/images/bg_top.jpg) right top no-repeat;
}
table.header, table.inside
{
  width:100%;
}
table.inside
{
  border-left: 2px black solid;
  background: url(/reptilesquest/images/bg_line.jpg) left top repeat;
}
td.menu
{
  width:110px;
  text-align:center;
  vertical-align:top;
}
td.over_menu
{
  text-align:left;
  vertical-align:bottom;
  width:110px;
  background: url(/reptilesquest/images/horizontal.jpg) left bottom repeat-x;
}
td.under_menu
{
  border-left: 2px black solid;
  width:110px;
  background: url(/reptilesquest/images/horizontal.jpg) left top repeat-x;
}
td.middle
{
  width:79px;
  vertical-align:top;
  background: url(/reptilesquest/images/bg2.png) left top repeat-y;
}
td.content
{
  width:573px;
  vertical-align:top;
}
td.bookmarks
{
  width:573px;
  vertical-align:bottom;
  background: url(/reptilesquest/images/horizontal.jpg) left bottom repeat-x;
}
td.border
{
  width:18px;
  background: url(/reptilesquest/images/vertical.jpg) left top repeat-y;
}
td.bottom-left
{
  width:189px;
  background-color: ffffff;
  text-align:right;
}
td.bottom-right
{
  width:573px;
  background-color: ffffff;
}
td.bottom-right2
{
  width:573px;
  background: url(/reptilesquest/images/horizontal.jpg) left top repeat-x;
}
td.top_border
{
  width:18px;
  vertical-align:bottom;
}
td.bottom_border
{
  width:18px;
  vertical-align:top;
}
td.logo
{
  width:189px;
  padding-top:10px;
  padding-bottom:5px;
}
td.top
{
  width:79px;
  vertical-align:bottom;
  background: url(/reptilesquest/images/horizontal.jpg) left bottom repeat-x;
}
td.bottom
{
  width:79px;
  vertical-align:top;
}
td.pad
{
  padding-bottom:10px;
}
td.cell188
{
  width:188px;
}
img
{
  margin:0px;
  border:none;
}
img.top
{
  width:79px;
  height:21px;
}
img.bottom
{
  width:79px;
  height:15px;
}
img.middle
{
  width:79px;
  height:45px;
}
img.bottom-left
{
  width:129px;
  height:79px;
}
img.black
{
  width:2px;
  height:15px;
}
img.logo
{
  width:130px;
  height:155px;
  margin-left:18px;
}
img.png_corner
{
  width:18px;
  height:15px;
}
img.corner2
{
  width:188px;
  height:218px;
}
img.down, img.down2, img.contacts, img.contacts2, img.album, img.album2
{
  width: 110px;
}
img.down
{
  height: 102px;
}
img.down2
{
  height: 80px;
}
img.contacts
{
  height: 88px;
}
img.contacts2
{
  height: 94px;
}
img.album
{
  height: 126px;
}
img.album2
{
  height: 57px;
}
img.contacts, img.contacts2, img.album, img.album2
{
  margin-left: 15px;
}
img.contacts, img.contacts2
{
  margin-right: 15px;
}
img.down, img.down2
{
  margin-left: 10px;
}
img.pers
{
  width:120px;
  height:164px;
}
img.gif18
{
  width:18px;
  height:1px;
}
img#wme
{
  width:125px;
  height:115px;
  float:right;
  margin-left:5px;
}
p.textads, p.textads a
{
  color:#cccccc;
  font-size:10px;
}
p.textads a:hover
{
  color:white;
}
