<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="По следам динозавров - компьютерная адвенчурная игра (квест), в которой главный герой отправляется на поиски доказательств сосуществования человека и динозавров, но находит гораздо больше...">
    <meta name="keywords" content="динозавры, рептилии, квест, приключения, адвенчура, adventure, quest, reptiles">
  <title>ПО СЛЕДАМ ДИНОЗАВРОВ: приключенческая компьютерная игра (квест)</title>
  <link rel="icon" href="{{ .Site.BaseURL }}rq.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}rq.ico" type="image/x-icon" />

  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/slimbox2.css" type="text/css" media="screen" />

	<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ .Site.BaseURL }}js/slimbox2.js"></script>

	<script type="text/javascript">
	function fitHeight(eid) {
		var bgHeight = 45;
		var element = document.getElementById(eid);
		var oldHeight = element.offsetHeight;
    	var residue = oldHeight % bgHeight;
    	if (residue > 0) {
    		var newHeight = 0;
    		newHeight = Number(oldHeight) + (bgHeight - residue);
    		element.style.height =  newHeight + 'px';
    	}
	}
	</script>
</head>
<body onload='fitHeight("main")'>
<a hidden rel="me" href="https://calculate.social/@Dionysius">Mastodon</a>
<center>
  <table class='main'>
    <tr>
      <td>
        <table class='header'>
          <TR>
            <TD colspan='2' class='logo'><a name='top'><img src="{{ .Site.BaseURL }}images/logo.gif" class='logo'></a></TD>
            <TD rowspan='2' class='bookmarks'>
               <table class='header'>
                   <tr valign='bottom'>
                   <td><a href='{{ .Site.BaseURL }}download'><img src="{{ .Site.BaseURL }}images/download.png" class='down'></a></td>
                   <td><a href='{{ .Site.BaseURL }}screenshots'><img src="{{ .Site.BaseURL }}images/album.png" class='album'></a></td>
                   <td><a href='{{ .Site.BaseURL }}contacts'><img src="{{ .Site.BaseURL }}images/contacts.png" class='contacts'></a></td>
                   <td class='cell188'></td>
                   </tr>
               </table>
            </TD>
            <TD class='top_border'><img src="{{ .Site.BaseURL }}images/18.gif" class='gif18'></TD>
          </TR>
          <TR>
            <TD class='over_menu'><img src="{{ .Site.BaseURL }}images/black.jpg" class='black'></TD>
            <TD class='top'><img src="{{ .Site.BaseURL }}images/top.gif" class='top'></TD>
            <TD class='top_border'><img src="{{ .Site.BaseURL }}images/2.gif" class='png_corner'></TD>
          </TR>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table class='inside'>
          <tr>
            <td class='menu'>
              <table class="header">
                <TR><TD style='height:40px;'>&nbsp;</TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "news" )}}
                   <span class='menup'>Новости</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}news'>Новости</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "_index" )}}
                   <span class='menup'>О проекте</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}'>О проекте</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "characters" )}}
                   <span class='menup'>Персонажи</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}characters'>Персонажи</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "screenshots" )}}
                   <span class='menup'>Посмотреть</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}screenshots'>Посмотреть</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "download" )}}
                   <span class='menup'>Download</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}download'>Download</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "walkthrough" )}}
                   <span class='menup'>Прохождение</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}walkthrough'>Прохождение</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "team" )}}
                   <span class='menup'>Команда</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}team'>Команда</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "contacts" )}}
                   <span class='menup'>Контакты</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}contacts'>Контакты</a>
                  {{ end }}
                   </TD></TR>
                   <TR><TD class='menup'>
                  {{if (eq .File.ContentBaseName "documents" )}}
                   <span class='menup'>Документы</span>
                  {{ else }}
                   <a class='menu' href='{{ .Site.BaseURL }}documents'>Документы</a>
                  {{ end }}
                   </TD></TR>
              </table>
            </td>
            <td class='middle'><img src="{{ .Site.BaseURL }}images/middle.jpg" class='middle'></td>
            <td class='content'>
               <table class='header' id='main'>
                   <tr valign='top'>
                    <td>
                    {{if (eq .File.ContentBaseName "download" )}}
                      <img src='{{ .Site.BaseURL }}images/download2.png' class='down2'>
                    {{ else }}
                      <img src='{{ .Site.BaseURL }}images/18.gif' class='down2'>
                    {{ end }}
                    </td>
                    <td>
                    {{if (eq .File.ContentBaseName "screenshots" )}}
                        <img src='{{ .Site.BaseURL }}images/album2.png' class='album2'>
                    {{ else }}
                        <img src='{{ .Site.BaseURL }}images/18.gif' class='album2'>
                    {{ end }}
                    </td>
                    <td>
                    {{if (eq .File.ContentBaseName "contacts" )}}
                        <img src='{{ .Site.BaseURL }}images/contacts2.png' class='contacts2'>
                    {{ else }}
                        <img src='{{ .Site.BaseURL }}images/18.gif' class='contacts2'>
                    {{ end }}
                    </td>
                    <td rowspan='2' class='cell188'><img src="{{ .Site.BaseURL }}images/corner2.jpg" class='corner2'></td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='3'>
                    {{ block "main" . }}
                    {{ end }}
                    </td>
                   </tr>
                </table>
            </td>
            <td class='border'></td>
          </tr>
          <tr>
            <td colspan='2' class='bottom-left'><img src="{{ .Site.BaseURL }}images/bottom-left.jpg" class='bottom-left'></td>
            <td class='bottom-right'></td>
            <td class='border'></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class='pad'>
        <table class='header'>
          <TR>
            <TD class='under_menu'><img src="{{ .Site.BaseURL }}images/18.gif" class='gif18'></TD>
            <TD class='bottom'><img src="{{ .Site.BaseURL }}images/bottom.gif" class='bottom'></TD>
            <TD class='bottom-right2'><img src="{{ .Site.BaseURL }}images/18.gif" class='gif18'></TD>
            <TD class='bottom_border'><img src="{{ .Site.BaseURL }}images/4.gif" class='png_corner'></TD>
          </TR>
        </table>
      </td>
    </tr>
    <tr>
      <td class='copyright'><!-- Сайт запущен 3.11.2006. -->&copy; <a target="_blank" href="https://stihi.ru/avtor/dionysius">Dionysius</a>, 2006</td>
    </tr>
  </table>
  {{if (hugo.IsProduction)}}
    {{ partial "partials/buttons.html" . }}
  {{ end }}
</center>
</body>
</html>
