{{ define "main" }}
                     <H1>{{ .Title }}</H1>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
                    <p><img src="{{ .Site.BaseURL }}images/professor.jpg" style="margin: 0 10px 5px 0; float: left;">Эта история началась с того, что в один археологический институт приехал известный профессор Януш Карич. Будучи уверен в том, что люди и динозавры когда-то сосуществовали вместе, он выступил с докладом об африканском племени Сангвала, люди которого, по его предположению, жили бок-о-бок с динозаврами и вполне неплохо ладили с малорослыми представителями этих загадочных животных. Его доклад произвёл ощутимое впечатление на студента 3-го курса Александра Боголюбова.</p>
                    <p>После недолгих раздумий Алекс подходит к профессору с просьбой принять участие в археологической экспедиции в Африку. Профессор весьма рад единомышленнику и тотчас же принимает решение о включении юноши в экспедиционную группу.</p>
                    <p>Но в местах, где необходимо проводить исследования, зоолог-бизнесмен Арно Хэшнелл собирается устроить парк-заповедник, куда бы ездили туристы – любители африканской экзотики. Семья Хэшнеллов живёт в Англии. Туда отправляется профессор Карич с Алексом, чтобы убедить Арно помочь им в исследованиях и разрешить раскопки.</p>
                    <p>Александр и не предполагал, что его жизнь изменится так сильно благодаря знакомству с новыми людьми, и что он встретит гораздо больше, чем хотел бы найти...</p>
                    <p><a href="http://dead-code.org" target="_blank"><IMG src="{{ .Site.BaseURL }}images/wme_logo.gif" id='wme'></a>Этот проект - компьютерная игра в жанре <a href="http://ru.wikipedia.org/wiki/%D0%90%D0%B4%D0%B2%D0%B5%D0%BD%D1%87%D1%83%D1%80%D0%B0" target="_blank">Адвенчура</a> (см. статью об адвенчурах в Википедии). Проект разрабатывается с помощью технологии <a href="http://dead-code.org" target="_blank">WinterMute Engine</a>. С нашего сайта вы можете <a href="{{ .Site.BaseURL }}download">скачать</a> перевод документации по движку на русский язык.</p>
		    <p><b>Особенности:</b>
		    <ul>
			<li>Оригинальный сюжет, построенный на поиске тайны происхождения динозавров.
			<li>Экзотические африканские пейзажи и консервативные виды английского
			городка более чем на 50 игровых сценах.
			<li>Путешествия, поиски древних артефактов, мини-игры и паззлы.
		    </ul></p>
		    <p style="padding-bottom:0px;"><b>Платформа и минимальные требования:</b><br />
                    <br />Microsoft Windows 98/98SE/Me.<br />
                    Microsoft Windows 2000/XP/Vista/7.<br />
                    DirectX версии 8.0 или выше.<br />
                    В *nix-системах (таких, как Linux, *BSD) игру можно запустить с помощью приложения <a href='http://winehq.org' target='_blank'>Wine</a>
                    <br><br><a href='#top'>Наверх --&gt;</a></p>
{{ end }}
