                     <H1>{{ .Title }}</H1>
                     <p class="first"><br>&nbsp;&nbsp;&nbsp;&nbsp;На этой странице можно узнать об основных действующих лицах нашей истории.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
                    <H3>Александр Боголюбов</H3>
                    <p><IMG src="{{ .Site.BaseURL }}images/Alex.gif" class='pers' style="margin-right:8px; float:left;">Студент-археолог 3-го курса, юноша приятной наружности и крепкого телосложения, Александр - весьма перспективный молодой человек. Тем не менее, он находится во внутреннем поиске, испытывая некоторого рода душевное неспокойствие. В путешествии с профессором, которое обещает объяснить одну из тайн происхождения мира, он увидел возможность что-то изменить в своей жизни в лучшую сторону, посмотреть на мир другими глазами. При этом не вполне осознавая, что же он всё-таки ищет. И уж, тем более, даже не догадываясь, что же он найдёт...</p>
                    <H3>Профессор Януш Карич</H3>
                    <p><IMG src="{{ .Site.BaseURL }}images/professor.gif" class='pers' style="margin-left:8px; float:right;">Специалист по всякого рода древностям, в свои 62 года профессор Януш остаётся очень энергичным и деятельным человеком, не лишённым чувства юмора. Среднего роста, слегка взлохмаченный, с лёгкой искоркой сумасшедшего авантюризма в глазах, Януш Карич способен привлекать к себе людей своей чудаковатой харизмой и неунывающим характером. В лице Алекса он нашёл благодарного слушателя и даже, более того, соучастника воплощения своих смелых идей. Профессор горячо уверен, что в этот раз ему удастся удивить человечество новым открытием.</p>
                    <H3>Кристина</H3>
                    <p style="padding-bottom:30px;"><IMG src="{{ .Site.BaseURL }}images/Christy.gif" class='pers' style="margin-right:8px; float:left;">Далеко не последнюю роль в этой истории играет некая юная особа по имени Кристина. Это очаровательная молодая леди, натура легко увлекающаяся, с капризным и своенравным характером, но в целом, Кристина - человек положительный. Можно сказать, что она представляет из себя неогранённый драгоценный камень. &quot;А что это за девушка и где она живёт?&quot; Александру предстоит выяснить.<br><br><a href='#top'>Наверх --&gt;</a></p>
