                     <H1>{{ .Title }}</H1>
                     <p class="first">&nbsp;&nbsp;&nbsp;&nbsp;Любые отзывы, пожелания, замечания, предложения об участии в проекте направляйте по адресу <script language="JavaScript" type="text/javascript">/*<![CDATA[*/var a,s,n;function bd3176f5d6c5c7b8c05c1ff21dfb561a9(s){r="";for(i=0;i<s.length;i++){n=s.charCodeAt(i);if(n<128){n=n-8;if(n<32){n=127+(n-32);}}r+=String.fromCharCode(n);}return r;}a="Di(pzmnE*uiqt|wBqtqw|zwxqwv:88>H\"ivlm!6z}*Fqtqw|zwxqwv:88>H\"ivlm!6z}D7iF";document.write(bd3176f5d6c5c7b8c05c1ff21dfb561a9(a));//]]></script>.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
                    <p style="padding-bottom:15px;"><!-- <br><br><a href='#top'>Наверх --&gt;</a> -->&nbsp;</p>
