                     <H1>{{ .Title }}</H1>
                     <p class="first">&nbsp;&nbsp;&nbsp;&nbsp;Здесь размещены концепт и сценарий проекта.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
					<p>
					<ul>
						<li><a target="_blank" href="{{ .Site.BaseURL }}download/concept.pdf">Концепт проекта</a></li>
						<li><a target="_blank" href="{{ .Site.BaseURL }}download/scenario.pdf">Сценарий</a></li>
					</ul>
					</p>
                    <p style="padding-bottom:15px;"><!-- <br><br><a href='#top'>Наверх --&gt;</a> -->&nbsp;</p>
