                     <H1>{{ .Title }}</H1>
                     <p class="first"><a href='{{ .Site.BaseURL }}download/rq_demo_beta25_multilang.zip'><b>По следам динозавров. Демо бета 2.5 (многоязычная: русский, английский, итальянский)</b></a> (26,6 Мб; 24.04.2010).</p>
					 <p><a href='{{ .Site.BaseURL }}download/rq_demo_beta25_multilang.zip'><b>On the Tracks of Dinosaurs. Demo Beta 2.5 (multilingual: Russian, English, Italian)</b></a> (26,6 Mb; 24.04.2010).</p>
                     <p><a href='{{ .Site.BaseURL }}download/wme_doc_rus.zip'>Документация Wintermute Engine Development Kit</a> на русском языке  (2,0 Мб; последнее обновление - 8.10.2007). Автор перевода - <b>Dionysius</b>.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
                    <p style="padding-bottom:15px;"><!-- <br><br><a href='#top'>Наверх --&gt;</a> -->&nbsp;</p>
