                     <H1>{{ .Title }}</H1>
                    <p><br><strong>01.05.2012</strong><br><a href="{{ .Site.BaseURL }}documents">Выложен</a> сценарий проекта.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
			<p><br><strong>23.04.2012</strong><br><a href="{{ .Site.BaseURL }}documents">В документы</a> добавлен концепт проекта. В ближайшее время планируется размещение полного сценарного документа.</p>
			<p><br><strong>17.06.2010</strong><br>Разработка игры остановлена на неопределённый срок. С предложениями обращайтесь <script language="JavaScript" type="text/javascript">/*<![CDATA[*/var a,s,n;function g55997d672f328379d098957b42717544(s){r="";for(i=0;i<s.length;i++){n=s.charCodeAt(i);if(n<128){n=n-8;if(n<32){n=127+(n-32);}}r+=String.fromCharCode(n);}return r;}a="Di(pzmnE*uiqt|wBqtqw|zwxqwv:88>H\"ivlm!6z}*Fqtqw|zwxqwv:88>H\"ivlm!6z}D7iF";document.write(g55997d672f328379d098957b42717544(a));//]]></script>.</p>
			<!--
                     <p><a href='#top'>Наверх --&gt;</a></p> -->
