                     <H1>{{ .Title }}</H1>
                     <p class="first">&nbsp;&nbsp;&nbsp;&nbsp;Здесь можно посмотреть экранные снимки.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
                     <table id='album'>
                       <tr>
				<td><a href="{{ .Site.BaseURL }}images/scr01.jpg" rel="lightbox-cats"><img src="{{ .Site.BaseURL }}images/scr01_prev.jpg" /></a></td>
				<td><a href="{{ .Site.BaseURL }}images/scr02.jpg" rel="lightbox-cats"><img src="{{ .Site.BaseURL }}images/scr02_prev.jpg" /></a></td>
                       </tr>
                       <tr>
				<td><a href="{{ .Site.BaseURL }}images/scr03.jpg" rel="lightbox-cats"><img src="{{ .Site.BaseURL }}images/scr03_prev.jpg" /></a></td>
				<td><a href="{{ .Site.BaseURL }}images/scr04.jpg" rel="lightbox-cats"><img src="{{ .Site.BaseURL }}images/scr04_prev.jpg" /></a></td>
                       </tr>
                       <tr>
				<td><a href="{{ .Site.BaseURL }}images/scr05.jpg" rel="lightbox-cats"><img src="{{ .Site.BaseURL }}images/scr05_prev.jpg" /></a></td>
				<td>&nbsp;</td>
                       </tr>
                     </table>
                     <p style="padding-bottom:0px;"><br><br><a href='#top'>Наверх --&gt;</a></p>
