                     <H1>{{ .Title }}</H1>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
                    <hr><p><strong>Денис Телюх (Dionysius)</strong> - сценарий, программирование WME, веб-программирование.
                     <br><strong>Web:</strong> <a target="_blank" href="https://stihi.ru/avtor/dionysius">https://stihi.ru/avtor/dionysius</a>
                     <br><strong>E-mail: </strong><script language="JavaScript" type="text/javascript">/*<![CDATA[*/var a,s,n;function b26a176e05dc79bc1b862a5d9aeefe969(s){r="";for(i=0;i<s.length;i++){n=s.charCodeAt(i);if(n<128){n=n-8;if(n<32){n=127+(n-32);}}r+=String.fromCharCode(n);}return r;}a="Di(pzmnE*uiqt|wBqtqw|zwxqwv:88>H\"ivlm!6z}*Fqtqw|zwxqwv:88>H\"ivlm!6z}D7iF";document.write(b26a176e05dc79bc1b862a5d9aeefe969(a));//]]></script></p>
                    <hr><p><strong>Данил Никонов</strong> - рисунки персонажей, дизайн меню и дизайн сайта.
                     <br><strong>ICQ:</strong> 202895360
                     <br><strong>E-mail: </strong><script language="JavaScript" type="text/javascript">/*<![CDATA[*/var a,s,n;function f26a176e05dc79bc1b862a5d9aeefe969(s){r="";for(i=0;i<s.length;i++){n=s.charCodeAt(i);if(n<128){n=n-8;if(n<32){n=127+(n-32);}}r+=String.fromCharCode(n);}return r;}a="Di(pzmnE*uiqt|wBlivqt5vqswvwnnHvo{6z}*Flivqt5vqswvwnnHvo{6z}D7iF";document.write(f26a176e05dc79bc1b862a5d9aeefe969(a));//]]></script></p>
                    <hr><p><strong>Андрей Омельченко</strong> - моделирование и анимация персонажей.
                     <br><strong>ICQ:</strong> 327976189</p>
                    <hr><p><strong>Денис Ионин</strong> - анимация персонажей.
                     <br><strong>ICQ:</strong> 478315391
					 <br><strong>E-mail: </strong><script language="JavaScript" type="text/javascript">/*<![CDATA[*/var a,s,n;function f26a176e05dc79bc1b862a5d9aeefe969(s){r="";for(i=0;i<s.length;i++){n=s.charCodeAt(i);if(n<128){n=n-8;if(n<32){n=127+(n-32);}}r+=String.fromCharCode(n);}return r;}a="Di(pzmnE*uiqt|wBliv5lHtq~m6z}*Fliv5lHtq~m6z}D7iF";document.write(f26a176e05dc79bc1b862a5d9aeefe969(a));//]]></script></p>
                    <hr><p><strong>Carmack</strong> - музыка и звуковое сопровождение.
                     <br><strong>ICQ:</strong> 206931910</p>
                    <hr><p><strong>Евгений Ярмош</strong> - звуковое сопровождение.
                     <br><strong>ICQ:</strong> 392311830</p>
		    <hr>
                    <H4>&nbsp;&nbsp;&nbsp;&nbsp;Благодарности</H4>
                    <hr>
                    <p><b>Павлу Поносову</b> за создание самых первых вариантов сцен.</p>
		    <hr>
                    <p><b>Александру Ткаченко (AlexYeCu)</b> за изображение Януша Карича (с подписью Reptile&acute;s Quest).</p>
                    <hr>
                    <p><b>Hrumer'у</b> и сайту <a target="_blank" href="http://bazonblog.ru">http://bazonblog.ru</a> за информационную поддержку.</p>
                    <hr>
                    <p><b>Katamary</b> за советы по гейм-дизайну и сценарию.</p><hr>
		    <p>Перевод на итальянский - <a target="_blank" href="http://www.puntaeclicca.com">http://www.puntaeclicca.com</a>.</p><hr>
                    <p><a href='#top'>Наверх --&gt;</a></p>
