		  <script type="text/javascript">
			var element = document.getElementById("main");
			var oldHeight;
			function turnBlock() {
				var block = document.getElementById("HiddenBlock");
				var span = document.getElementById("span");

				if (block.style.display == "none") {
					oldHeight = element.offsetHeight;
					block.style.display = "";
					span.innerHTML = "скрыть";
					fitHeight("main");
				} else {
					block.style.display = "none";
					span.innerHTML = "показать";
					element.style.height =  oldHeight + 'px';
				}
			}
		  </script>
                     <H1>{{ .Title }}</H1>
                     <p class="first">&nbsp;&nbsp;&nbsp;&nbsp;Здесь можно узнать решение задач в игре.</p>
                    </td>
                   </tr>
                   <tr>
                    <td valign='top' colspan='4'>
		    <p><b>Прохождение демо-версии</b></p>
		    <p>Итак, Александр и профессор прибыли в Англию. Профессор говорит Алексу, что ему нужно навестить одного своего коллегу, а в его отсутствие просит купить своего любимого чая «Золотой лист» и мягких французских булок...  <span style="cursor: pointer; cursor: hand; color: Olive;" onclick="turnBlock()" id="span">показать</span></p>
		    <div id="HiddenBlock" style="display:none;">
			<p>«Гостиничный номер»<br />
Александр открывает чемодан (в инвентаре появляется кредитная карта). Берёт из него книгу - определитель бабочек.
<br /><br />
«Гостиничный холл»<br />
Беседует с портье. Тот рассказывает, где можно купить чая и булок.
<br /><br />
«Улица»<br />
Идёт в сторону чайной лавки (в булочную в демо-версии пройти нельзя).
<br /><br />
«Вход в чайную лавку»<br />
Смотрит на бабочку. Читает о ней в определителе бабочек (действовать на себя).
<br /><br />
«Чайная лавка»<br />
Здесь кредитная карта не обслуживается, нужно что-то придумать. В ходе беседы с торговцем выясняется, что он интересуется бабочками, но не знает, как называется вид, который обитает у него на клумбе (Алекс уже обратил на неё внимание). Александр рассказывает торговцу о бабочке. Тот приглашает его на беседу и чашку чая, но Алекс отказывается. Тогда торговец преподносит ему пачку чая в подарок.
Если Алекс обратил внимание на изображение дракона, можно поговорить с торговцем и на эту тему.</p>
		    </div>
                    <p style="padding-bottom:15px;"><!-- <br><br><a href='#top'>Наверх --&gt;</a> -->&nbsp;</p>

